foundation/local/*
!foundation/local/README.md
!foundation/local/kubeadm.yaml
!foundation/local/calico.yaml
cbok/apps/bbx/chrome_plugins/auto_login/passphrase
cbok/apps/bbx/virt_devel/local/*
!cbok/apps/bbx/virt_devel/local/README.md
cbok/apps/bbx/virt_devel/example/*
cbok/apps/bbx/kernel/local/*
!cbok/apps/bbx/kernel/local/README.md
cbok/apps/bbx/ut/images/*
review/*
!review/README.md
personnel/*
!personnel/README.md
ebook/
venv/
.idea/
.DS_Store
__pycache__/
log/
CBoK.egg-info/
