static/*
!static/Python-3.9.6.tar.xz
foundation/base/*
foundation/address
!foundation/base/README.md
!foundation/base/kubeadm.yaml
!foundation/base/calico.yaml
!foundation/base/kubernetes.sh
cbok/apps/bbx/chrome_plugins/auto_login/passphrase
cbok/apps/bbx/virt_devel/base/*
!cbok/apps/bbx/virt_devel/base/README.md
cbok/apps/bbx/virt_devel/example/*
cbok/apps/bbx/kernel/base/*
!cbok/apps/bbx/kernel/base/README.md
cbok/apps/bbx/ut/images/*
review/*
!review/README.md
personnel/*
!personnel/README.md
ebook/
venv/
.idea/
.DS_Store
__pycache__/
log/
CBoK.egg-info/
