static/*
foundation/base/*
foundation/address
cbok/bbx/chrome_plugins/auto_login/client/address
!foundation/base/README.md
!foundation/base/kubeadm.yaml
!foundation/base/calico.yaml
!foundation/base/kubernetes.sh
!foundation/base/ingress-deploy.yaml
cbok/bbx/virt_devel/base/*
!cbok/bbx/virt_devel/base/README.md
cbok/bbx/virt_devel/example/*
cbok/bbx/kernel/base/*
!cbok/bbx/kernel/base/README.md
cbok/bbx/ut/images/*
cbok/*/migrations/
review/*
!review/README.md
personnel/*
!personnel/README.md
ebook/
venv/
.idea/
.DS_Store
__pycache__/
log/
CBoK.egg-info/
Python-3.9.6.tar.xz
cbok-base-amd64.tar
*.pyc
