foundation/local/*
!foundation/local/README.md
!foundation/local/kubeadm.yaml
!foundation/local/calico.yaml
bbx/virt-devel/local/*
!bbx/virt-devel/local/README.md
review/*
!review/README.md
personnel/*
!personnel/README.md
ebook/
venv/
.idea/
.DS_Store
__pycache__/