<!--
The content comes from Nova log when booting a new instance.
-->

<domain type="qemu">
  <uuid>aa6511b5-8207-4755-b0ad-f46ea2917975</uuid>
  <name>instance-00000053</name>
  <memory>1048576</memory>
  <maxMemory slots="255">65654784</maxMemory>
  <currentMemory>1048576</currentMemory>
  <vcpu current="1" cpuset="10-15">16</vcpu>
  <metadata>
    <nova:instance xmlns:nova="http://openstack.org/xmlns/libvirt/nova/1.1">
      <nova:package version="0.0.0"/>
      <nova:name>instance-GuJ2j1</nova:name>
      <nova:creationTime>2023-07-14 05:11:29</nova:creationTime>
      <nova:flavor name="1C-1G">
        <nova:memory>1024</nova:memory>
        <nova:disk>0</nova:disk>
        <nova:swap>0</nova:swap>
        <nova:ephemeral>0</nova:ephemeral>
        <nova:vcpus>1</nova:vcpus>
      </nova:flavor>
      <nova:owner>
        <nova:user uuid="02733adf79984c148f84acb5a2a96920">admin</nova:user>
        <nova:project uuid="48e4b69dc7ca4b30918c917a471b69e1">admin</nova:project>
      </nova:owner>
      <nova:ports>
        <nova:port uuid="7bcaf68e-3222-41a3-b731-24ac0b4e2a1f">
          <nova:ip type="fixed" address="192.168.111.50" ipVersion="4"/>
        </nova:port>
      </nova:ports>
    </nova:instance>
  </metadata>
  <sysinfo type="smbios">
    <system>
      <entry name="manufacturer">OpenStack Foundation</entry>
      <entry name="product">OpenStack Nova</entry>
      <entry name="version">0.0.0</entry>
      <entry name="serial">aa6511b5-8207-4755-b0ad-f46ea2917975</entry>
      <entry name="uuid">aa6511b5-8207-4755-b0ad-f46ea2917975</entry>
      <entry name="family">Virtual Machine</entry>
    </system>
  </sysinfo>
  <os>
    <type machine="pc">hvm</type>
    <boot dev="hd"/>
    <smbios mode="sysinfo"/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cputune>
    <shares>1024</shares>
  </cputune>
  <clock offset="utc"/>
  <cpu mode="host-model" match="exact">
    <topology sockets="16" cores="1" threads="1"/>
    <numa>
      <cell id="0" cpus="0" memory="1048576"/>
    </numa>
  </cpu>
  <devices>
    <disk type="network" device="disk">
      <driver name="qemu" type="raw" cache="none" discard="unmap"/>
      <source protocol="rbd" name="volumes/volume-14964124-6e99-495e-a122-1cd6e26a1722">
        <host name="192.168.30.2" port="6789"/>
        <host name="192.168.30.3" port="6789"/>
        <host name="192.168.30.4" port="6789"/>
      </source>
      <auth username="admin">
        <secret type="ceph" uuid="457eb676-33da-42ec-9a8c-9293d545c337"/>
      </auth>
      <target dev="vda" bus="virtio"/>
      <serial>14964124-6e99-495e-a122-1cd6e26a1722</serial>
    </disk>
    <interface type="bridge">
      <mac address="fa:16:3e:1a:15:2e"/>
      <model type="virtio"/>
      <driver name="qemu"/>
      <source bridge="br-int"/>
      <mtu size="1500"/>
      <target dev="tap7bcaf68e-32"/>
      <virtualport type="openvswitch">
        <parameters interfaceid="7bcaf68e-3222-41a3-b731-24ac0b4e2a1f"/>
      </virtualport>
    </interface>
    <serial type="pty">
      <log file="/var/lib/nova/instances/aa6511b5-8207-4755-b0ad-f46ea2917975/console.log" append="off"/>
    </serial>
    <graphics type="vnc" autoport="yes" listen="0.0.0.0"/>
    <video>
      <model type="cirrus"/>
    </video>
    <input type="tablet" bus="usb"/>
    <rng model="virtio">
      <backend model="random">/dev/urandom</backend>
    </rng>
    <controller type="usb" index="0"/>
    <memballoon model="virtio">
      <stats period="10"/>
    </memballoon>
    <controller type="usb" index="1" model="qemu-xhci"/>
  </devices>
</domain>