<!--
The content comes from Nova log when booting a new instance, and made some settings as follows:
1.mounted a USB device
2.mounted a ISO device
3.opened the qemu guest agent
-->

<domain type=kvm>
  <uuid>4fca88d8-2124-46e0-85b5-06594339aadd</uuid>
  <name>instance-00000185</name>
  <memory>1048576</memory>
  <vcpu cpuset=18-127>1</vcpu>
  <metadata>
    <nova:instance xmlns:nova=http://openstack.org/xmlns/libvirt/nova/1.1>
      <nova:package version=0.0.0/>
      <nova:name>instance-1BIm40</nova:name>
      <nova:creationTime>2023-07-14 16:01:13</nova:creationTime>
      <nova:flavor name=1C-1G>
        <nova:memory>1024</nova:memory>
        <nova:disk>0</nova:disk>
        <nova:swap>0</nova:swap>
        <nova:ephemeral>0</nova:ephemeral>
        <nova:vcpus>1</nova:vcpus>
      </nova:flavor>
      <nova:owner>
        <nova:user uuid=dc8acea7e253437da0182ca9210be032>admin</nova:user>
        <nova:project uuid=8dbcf32b9f224a8799cc70f1a4712b15>admin</nova:project>
      </nova:owner>
      <nova:ports>
        <nova:port uuid=f418f1b5-3447-4111-949c-dc588862b4cc>
          <nova:ip type=fixed address=192.168.111.124 ipVersion=4/>
        </nova:port>
      </nova:ports>
    </nova:instance>
  </metadata>
  <os>
    <type machine=virt>hvm</type>
    <loader type=pflash readonly=yes secure=no>/usr/share/edk2/aarch64/QEMU_EFI-silent-pflash.raw</loader>
    <nvram template=/usr/share/edk2/aarch64/vars-template-pflash.raw/>
    <boot dev=hd/>
    <boot dev=cdrom/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cputune>
    <shares>1024</shares>
  </cputune>
  <clock offset=utc>
    <timer name=pit tickpolicy=delay/>
    <timer name=rtc tickpolicy=catchup/>
  </clock>
  <cpu mode=host-passthrough match=exact>
    <topology sockets=1 cores=1 threads=1/>
  </cpu>
  <devices>
    <disk type=network device=disk>
      <driver name=qemu type=raw cache=none discard=unmap/>
      <source protocol=rbd name=volumes/volume-56b627e7-5366-4471-875b-f6fd15bcaaba>
        <host name=53.168.30.2 port=6789/>
        <host name=53.168.30.3 port=6789/>
        <host name=53.168.30.4 port=6789/>
      </source>
      <auth username=admin>
        <secret type=ceph uuid=457eb676-33da-42ec-9a8c-9293d545c337/>
      </auth>
      <target dev=vda bus=virtio/>
      <serial>56b627e7-5366-4471-875b-f6fd15bcaaba</serial>
    </disk>
    <interface type=bridge>
      <mac address=fa:16:3e:19:9b:33/>
      <model type=virtio/>
      <source bridge=br-int/>
      <mtu size=1500/>
      <target dev=tapf418f1b5-34/>
      <virtualport type=openvswitch>
        <parameters interfaceid=f418f1b5-3447-4111-949c-dc588862b4cc/>
      </virtualport>
    </interface>
  <serial type=pty>
    <log file=/var/lib/nova/instances/4fca88d8-2124-46e0-85b5-06594339aadd/console.log append=off/>
  </serial>
  <graphics type=vnc autoport=yes listen=0.0.0.0/>
  <video>
    <model type=virtio/>
  </video>
  <input type=tablet bus=usb/>
  <input type=keyboard bus=usb/>
  <channel type=unix>
    <source mode=bind path=/var/lib/libvirt/qemu/org.qemu.guest_agent.0.instance-00000185.sock/>
    <target type=virtio name=org.qemu.guest_agent.0/>
  </channel>
  <rng model=virtio>
    <backend model=random>/dev/urandom</backend>
  </rng>
  <controller type=pci model=pcie-root/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=pci model=pcie-root-port/>
  <controller type=usb index=0/>
  <memballoon model=virtio>
    <stats period=10/>
  </memballoon>
  <controller type=usb index=1 model=qemu-xhci/>
  <controller type=scsi index=0 model=virtio-scsi/>
  <hostdev mode=subsystem type=usb managed=no>
    <source>
      <address bus=3 device=4/>
    </source>
    <address type=usb bus=1/>
  </hostdev>
  <disk type=network device=cdrom>
    <driver type=raw cache=none discard=unmap/>
    <source protocol=rbd name=compute/fd785417-9344-4eb7-9c75-90ceae98b195>
      <host name=53.168.30.2 port=6789/>
      <host name=53.168.30.3 port=6789/>
      <host name=53.168.30.4 port=6789/>
    </source>
    <auth username=admin>
      <secret type=ceph uuid=457eb676-33da-42ec-9a8c-9293d545c337/>
    </auth>
    <target dev=sda bus=scsi/>
    <readonly/>
  </disk>
  </devices>
</domain>