apiVersion: v1
kind: ConfigMap
metadata:
  name: cbok
  namespace: cbok
data:
  start.sh: |
    #!/bin/bash
    set -ex

    python3 manage.py makemigrations user && \
    python3 manage.py makemigrations bbx && \
    python3 manage.py makemigrations alert && \
    python3 manage.py migrate

    cd /root/cbok/ && python3 manage.py runserver 0.0.0.0:8000 --noreload
