[DEFAULT]
workspace=workspace
workspace_abs_path=/root/

[email]
key_163=PDSRSAJDHTZSBEYC
receiver=1923001710@qq.com

[api]
api_works=1
host=127.0.0.1
debug=true

[db]
connection=mysql+pymysql://root:000000@localhost:3306/cbok
max_overflow=-1
max_pool_size=20
max_retries=-1